<!DOCTYPE html>
<html lang="en" ng-app="listMan">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Backend | Man Up</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	<style>
		#header-title{
			font-size:2em;
		}
	</style>
  </head>

  <body style="" ng-controller="listController">
	<div class="container" >
		<div class="row" id="header-title">
			<div class="col-12">
				Administration - Man Up
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<a href="list.html" class="btn btn-info">
					Daftar Peserta
				</a>
				<a href="" class="btn btn-info">
					Laporan
				</a>
				<br><br>
				<fieldset>
					<legend>Daftar Peserta</legend>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Nomor Registrasi</th>
								<th>GMS Favour</th>
								<th>Nama Lengkap</th>
								<th>Email</th>
								<th>Nomor Hp</th>
								<th>Pembayaran</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input ng-model="filterData.kodeReg"  type="text" class="form-control"></td>
								<td><input ng-model="filterData.jemaatFavour" type="text" class="form-control"></td>
								<td><input ng-model="filterData.namaLengkap" type="text" class="form-control"></td>
								<td><input ng-model="filterData.email" type="text" class="form-control"></td>
								<td><input ng-model="filterData.nomorHp" type="text" class="form-control"></td>
								<td><input ng-model="filterData.payment" type="text" class="form-control"></td>
								<td>&nbsp;</td>
							</tr>
							<tr ng-repeat="(key,row) in data | custom : filterData ">
								<td>{{key}}</td>
								<td>
									{{row.jemaatFavour}}
									{{row.jemaatFavour !=='BELUM' ? row.nomorCg: ''}}
								</td>
								<td>{{row.namaLengkap}}</td>
								<td>{{row.email}}</td>
								<td>{{row.nomorHp}}</td>
								<td ng-click="showPayment(row)">
									{{row.payment}}
									<img style="width:30px;height:30px;" src="img/{{row.statusConf}}.png">
								</td>
								<td>
									<a class="btn btn-info">View Detail<a/>
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Payment Information</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			{{selected.payment}}
			<table ng-hide="selected.payment=='Tunai'" class="table table-bordered">
				<thead>
					<tr>
						<th>Bank</th>
						<th>Nama Pemilik</th>
						<th>Tanggal</th>
						<th>Nominal</th>
						<th>Bukti</th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key,row) in selected.paymentConfirmation">
						<td>{{row.bank}}</td>
						<td>{{row.nama}}</td>
						<td>{{row.tanggal | date:'dd/MM/yyyy'}}</td>
						<td>{{row.nominal | number:0}}</td>
						<td>
							<img style="width:150px;height:150px;" ng-src="{{row.img}}"><br>
							<a href="{{row.img}}" target="__blank">View Image</a>
						</td>
					</tr>
					<tr ng-show="selected.paymentConfirmation == undefined">
						<td colspan="5">
							Tidak ada konfirmasi
						</td>
					</tr>
				</tbody>
			</table>
		  </div>
		  <div class="modal-footer">
			<button ng-click="doReject()" type="button" class="btn btn-danger">Reject</button>
			<button ng-click="doApprove()" type="button" class="btn btn-info">Approve</button>
			<button ng-click="doClose()" type="button" class="btn btn-primary">Close</button>
		  </div>
		</div>
	  </div>
	</div>
	
    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="../custom/firebaseConf.js"></script>
	<script src="../custom/global.js"></script>
	<script src="../custom/listParticipant.js"></script>
	
  </body>

</html>
