<!DOCTYPE html>
<html ng-app="memberList" lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Life Ticket - Admin</title>
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/index.css">
	<link rel="stylesheet" href="../css/custom.css">
	
</head>
	<body ng-controller="listController">
	<div class="loading"></div>
	
	<header >
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div style="font-size:1.4em;">One Life Ticket</div>
				</div>
			</div>
		</div>
	</header>
    <section style="">
		<div  class="container-fluid">
			<div style="overflow:scroll;height:80vh" class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<fieldset>
						<legend>Registrasi Info</legend>
						<table>
							<tr>
								<td>Nama Lengkap</td>
								<td>:</td>
								<td>{{data.namaLengkap}}</td>
							<tr>
							
							<tr>
								<td>No Telepon</td>
								<td>:</td>
								<td>{{(data.notelepon)}}</td>
							<tr>
							<tr>
								<td>Alamat</td>
								<td>:</td>
								<td>{{(data.alamat)}}</td>
							<tr>
							
							<tr>
								<td>Kelas</td>
								<td>:</td>
								<td>{{(data.kelas)}}</td>
							<tr>
							
							<tr>
								<td>Sekolah</td>
								<td>:</td>
								<td>{{(data.sekolah)}}</td>
							<tr>
							
							<tr>
								<td>Sudah BerCG</td>
								<td>:</td>
								<td>{{(data.sudahbercg)}}</td>
							<tr>
							
							<tr>
								<td>Tanggal</td>
								<td>:</td>
								<td>{{data.registime | date:'dd-MM-yyyy hh:mm:ss'}}</td>
							<tr>
							<tr>
							<td>
									<a ng-show="data.absen==NO" ng-click="absen()" class="adminBtn btn btn-warning">absen</a>
									<a ng-hide="data.absen==OK" ng-click="batalkan()" class="adminBtn btn text-white btn-success">batalkan</a>
									
							</td>
							</tr>
						</table>
					</fieldset>
<!--					<fieldset>
						<legend>Pembayaran</legend>
						<table class="table table-bordered">
							<tr>
								<th>Keterangan</th>
								<th>Tanggal</th>
								<th>Aksi</th>
							</tr>
							<tr>
								<td>Down Payment</td>
								<td>{{data.payment.firstPayment | date:'dd-MM-yyyy'}}</td>
								<td>
									<a ng-show="data.payment.firstPayment==undefined" ng-click="acceptPay1()" class="adminBtn btn text-white btn-success">Terima</a>
									<a ng-hide="data.payment.firstPayment==undefined" ng-click="resetPay1()" class="adminBtn btn btn-warning">Reset</a>
									
								</td>
							<tr>
							<tr>
								<td>Pelunasan</td>
								<td>{{data.payment.secondPayment | date:'dd-MM-yyyy'}}</td>
								<td><a ng-show="data.payment.secondPayment==undefined" ng-click="acceptPay2()" class="adminBtn btn text-white btn-success">Terima</a>
									<a ng-hide="data.payment.secondPayment==undefined" ng-click="resetPay2()" class="adminBtn btn btn-warning">Reset</a></td>
							<tr>
						</table>
					</fieldset>
					<fieldset>
						<legend>AKSI</legend>
						<div>
							<a style="width:30vw;height:15vw;margin-bottom:5px;" class="adminBtn text-white btn btn-primary">EMAIL <br>REGISTRASI</a>
							<a style="width:30vw;height:15vw;margin-bottom:5px;" class="adminBtn text-white btn btn-primary">EMAIL <br>DP</a>
							
							<a style="width:30vw;height:15vw;margin-bottom:5px;" class="adminBtn text-white btn btn-primary">EMAIL <br> TIKET</a>
							<a style="width:30vw;height:15vw;" class="adminBtn btn text-white btn-success">ABSEN<br>BRIEFING</a>
							<a style="width:30vw;height:15vw;" class="adminBtn btn text-white btn-success">ABSEN<br>Hari H</a>
						</div>
					</fieldset>-->
					
					<br><br>
						
				</div>
			</div>
			
		</div>
	</section>
	<footer>
		<div style="position:fixed;bottom:0px;width:100vw" >
			<a href="Mlist.html" class="btn btn-block btn-info">Back</a>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="../custom/firebaseConf.js"></script>
	<script src="../custom/notify.min.js"></script>
	<script src="../custom/memberDetail.js"></script>
  </body>

</html>
