<!DOCTYPE html>
<html ng-app="memberList" lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Life Ticket - Admin</title>
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/index.css" rel="stylesheet">
</head>

  <body ng-controller="listController">
	<div class="loading"></div>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div>One Life Ticket - Admin</div>
				</div>
			</div>
			<div style="border-bottom:1px black solid; padding-bottom:10px;" class="row">
				<div class="col-lg-12">
					<input type="text" class="form-control" ng-model="filterData.keyword" placeholder="Search">
				</div>
				<div style="margin-top:10px;" class="col-lg-12">
					<a ng-click="exportData()" class="btn btn-success">Excel</a>
				</div>
			</div>
		</div>
	</header>
    <section >
		<div class="container-fluid">
			<div class="row">
				<div style="overflow:scroll;height:60vh!important;" class="col-lg-12">
					<div  ng-repeat="(key, value) in data | custom:filterData |orderObjectBy:'namaLengkap':false" style="padding:10px;" class="media">
						<img style="border-radius:50%!important;width:50px;height:50px;" class="align-self-center mr-3" ng-src="{{getResource(value.statusConf)}}" alt="">
						<div style="vertical-align:middle;font-size:1.2em" class="media-body">
							<div ng-click="showDetail(value);">
								{{value.namaLengkap}}<br>
								{{value.sekolah}}
							</div>
							<div>
								<a ng-click="doDelete(value.key, value.namaLengkap);" class="deleteBtn btn btn-danger">Delete</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div style="bottom:0;width:100%;position:absolute;right: 0px;left: 0px;margin-left: 0px;margin-right: 0px;" >
			<a href="index.html" class="btn btn-block btn-info">Home</a>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="../custom/firebaseConf.js"></script>
	
	<script type="text/javascript" src="../custom/excel/jszip.js"></script>
	<script type="text/javascript" src="../custom/excel/FileSaver.js"></script>
	<script type="text/javascript" src="../custom/excel/myexcel.js"></script>
	
	<script src="../custom/notify.min.js"></script>
	<script src="../custom/global.js"></script>
	<script src="../custom/memberList.js"></script>
	
	
  </body>

</html>
