<!DOCTYPE html>
<html ng-app="memberList" lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MAN UP</title>
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/index.css" rel="stylesheet">
	
</head>

  <body ng-controller="listController">
	<div id="overlay">
		<div class="loader"></div>
	</div>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div>MAN UP</div>
				</div>
			</div>
		</div>
	</header>
    <section >
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<fieldset>
						<legend>Summary berdasarkan tanggal</legend>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Tanggal</th>
									<th>Jumlah</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="rowData in dataDate">
									<td>{{rowData.tanggal}}</td>
									<td style="text-align:right;">{{rowData.count}}</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td style="text-align:right;">Total</td>
									<td style="text-align:right;">{{totalCounter}}</td>
								</tr>
								<tr>
									<td style="text-align:right;">Total Unik Email</td>
									<td style="text-align:right;">{{totalUnik.length}}</td>
								</tr>
							</tfoot>
						</table>
					</fieldset>
					
					<fieldset>
						<legend>Summary berdasarkan status</legend>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Status</th>
									<th>Jumlah</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="rowData in statusRegis | orderBy: 'statusID'">
									<td>{{rowData.statusLabel}}</td>
									<td style="text-align:right;">{{rowData.count}}</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div style="bottom:0;width:100%;position:absolute;right: 0px;left: 0px;margin-left: 0px;margin-right: 0px;" >
			<a href="index.html" class="btn btn-block btn-info">Home</a>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="../custom/firebaseConf.js"></script>
	<script src="../custom/notify.min.js"></script>
	<script src="../custom/global.js"></script>
	<script src="../custom/report.js"></script>
  </body>

</html>
