a, a:hover {
  color: red;
}


/* Back to top button */
.back-to-top {
  background: red;
  color: #fff;
}


.back-to-top:focus {
  background: red;
  color: #fff;
}

.back-to-top:hover {
  background: #019090;
  color: #fff;
}

.navbar-default {
  background: red;
}

.form-control:focus {
  border-color: red;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px red;
}

.service .carousel-indicators .active {
  background: red;
}

.btn-theme {
  background: red;
}

.contact-widget i {
  color: red;
}
